doctype html
html
  head
    title Employee App
    link(rel="stylesheet", href="/styles.css")
  body
    header
      h1 Employee Management
      nav
        a(href="/") Home   |  
        a(href="/new")   Add Employee
    block content